@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* Code block styling */
pre code {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  line-height: 1.6;
}

pre code .keyword {
  font-weight: 600;
  color: #c792ea;
}

pre code .string {
  color: #c3e88d;
}

pre code .function {
  color: #82aaff;
  font-weight: 500;
}

pre code .comment {
  color: #546e7a;
  font-style: italic;
}
